REACT_APP_TELEGRAM_BOT_TOKEN=ISI DENGAN BOT TOKEN YANG DIDAPAT DARI @BotFather
REACT_APP_TELEGRAM_CHAT_ID=ISI DENGAN CHAT ID YANG DIDAPAT DARI @userinfobot
REACT_APP_API_URL=ISI DENGAN URL API BACKEND ANDA, MISAL: http://localhost:5000